.body {
	margin: 0;
	padding: 0;
}
/*Login area*/
#login-area {
	margin-top: 100px;
}

.login-title {
	color: rgba(255, 99, 71, 0.822);
	padding-bottom: 3px;
	text-shadow: #e0e0e0 1px 1px 0;
}
.submit-area {
	background-color: rgba(255, 0, 0, 0.308);
	padding: 30px;
	border-radius: 9px;
	box-shadow: -3px 1px 11px rosybrown;
}
.btn-color {
	background-color: rgb(108, 169, 197);
	color: #ffffff;
}
/*Transaction Area*/
#transaction-area {
	display: none;
}
.status {
	margin: 20px auto;
	margin-top: 100px;
	padding: 30px;
	border-radius: 15px;
	color: #ffffff;
}
.deposit {
	background-color: slateblue;
}
.withdraw {
	background: lightsalmon;
}
.balance {
	background-color: orange;
}
